.container {
  background-color: #828081; /* steel */
  height: 100%;
  margin-left: 1%;
  margin-top: 2%;
  border-radius: 5px;
}
#navBar {
  background-color: #3cc47c;
  margin-left: 1%;
  width: 98%;
  z-index: 20;
}
a {
  color: #fff;
}
body {
  background-color: #1e392a;
}
.affix {
  top: 0;
  width: 98%;
}
.affix + .container-fluid {
    padding-top: 70px;
}
.well {
  margin: 2%;
  box-shadow: 2px 2px 8px #3cc47c;
  border-radius: 5px;
  background-color: 	#e9c893;
}
.pic {
  display: inline flex;
  height: 80%;
  width: 80%;
  margin: 5% 10%;
}
.board {
  margin-top: 2%;
  margin-bottom: 2%;
  float: right;
}
.squares {
  background-color: 	#e9c893;
  height: 150px;
  border: 1px solid #000;
  box-sizing: border-box;
  border-radius: 25px;
}
.test {
  height: 100px;
}
.loc {
  color: red;
  white-space: pre-wrap;
}
.success {
  color: green;
}
.reset {
  background-color: #bd1e05;
}
.listReset {
  background-color: #bd1e05;
  margin-left: 2%;
  position: fixed;
}
.dropIt {
  margin-top: 2%;
  list-style: none;
  color: #1e392a;
}
.speciesButton {
  background-color: #3cc47c;
}
.dropdownBox {
  background-color: #3cc47c;
  color: #000;
  font-size: 2em;
}
.title {
  text-align: center;
  color: #fff;
}
.blurbs {
  height: 100px;
}
#buffer {
  background-color: red;
}
