#container {
  background-color: #828081; /* dark khaki */
  height: 800px;
  margin: 10%;
  margin-top: 0;
  border-radius: 5px;
}
#navBar {
  background-color: #3cc47c;
}
a {
  color: #fff;
}
body {
  background-color: #1e392a;
}
.well {
  margin-top: 2%;
  box-shadow: 2px 2px 8px #3cc47c;
  border-radius: 5px;
  background-color: 	#e9c893;
}
.pic {
  display: inline flex;
  height: 80%;
  width: 80%;
  margin: 5% 10%;
}
.board {
  margin-top: 2%;
  float: right;
}
.squares {
  background-color: 	#e9c893;
  height: 150px;
  border: 1px solid #000;
  box-sizing: border-box;
  border-radius: 25px;
}
.test {
  height: 100px;
}
.loc {
  color: red;
  white-space: pre-wrap;
}
.success {
  color: green;
}
.reset {
  background-color: #bd1e05;
}
